<app-header></app-header>

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">10th</span>
            <span class="mt-1 text-gray-500 text-sm">2015</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Ch.Chhabil.Dass.Public.School Ghaziabad UttarPradesh (CCDPS)</h2>
            <p class="leading-relaxed">Completed class 10th with total cgpa of <strong>9.0</strong>. Having subjects like English, Hindi, Maths, Science, Social Studies.</p>
            <a class="text-green-500 inline-flex items-center mt-4" href="https://www.ccdps.in/" target=”_blank”>CCDPS Website
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">12th</span>
            <span class="mt-1 text-gray-500 text-sm">2017</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Ch.Chhabil.Dass.Public.School Ghaziabad UttarPradesh (CCDPS)</h2>
            <p class="leading-relaxed">Completed class 12th with total percentage of <strong>83%</strong>. Major in PCM(Physics, Chemistry, Maths) and having English and commerical arts as an optional.</p>
            <a class="text-green-500 inline-flex items-center mt-4" href="https://www.ccdps.in/" target=”_blank”>CCDPS Website
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">B.Tech</span>
            <span class="text-sm text-gray-500">2021</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">SRM University</h2>
            <p class="leading-relaxed">Completed my graduation from SRM University majors in Computer Science and Engineering. Having a total percentage of <strong>89%</strong>. Studied subjects like C, C++, Operating Systems, Database systems, Computer Networks, Java etc.</p>
            <a class="text-green-500 inline-flex items-center mt-4" href="https://www.srmup.in/" target=”_blank”>SRM Webiste
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


