<app-header></app-header>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5">Production Line Application</h2>
      <div class="md:w-3/5 md:pl-6">
        <p class="leading-relaxed text-base"> <strong>Production Line/ Worker Line Application</strong> :- It is an application which is used by production line workers for problems creation on manufacturing line. This application contains various modules for worker, supplier, admin etc.</p>
        <br>
        <p><strong>Tech Stack</strong> : Java, Angular, <strong>Framework</strong> : Spring Boot,<strong>Tools</strong> : IntelliJ IDEA, DataGrip, MySQL, MacPass, <strong>Vulnerabilities</strong> : BlackDuck Scan, <strong>Cloud</strong> : Openshift, <strong>CI/CD </strong> : Bamboo and Argo CD</p>
        <br>
        <ol class="list-disc pl-4">
            <li class="mb-2">This application is used by the production line workers in order to raise any complaints, parts information,
                faulty parts, Order information with client</li>
            <li class="mb-2">Used Java, Spring Boot, JPA, Spring Security, Junit Mockito for unit test cases, Profiling etc</li>
            <li class="mb-2">Data for this application is stored in MySQL Database and being rendered over UI which is created with the
                help of Angular</li>
            <li class="mb-2">Used Blackduck for code related Vulnerability Scans, Bamboo for Continious Integration and ArgoCD for Continous Deployment </li>
            <li class="mb-2">Used CRON Jobs for automated tasks to be triggered over specific period of time.</li>
            <li class="mb-2">This application enhances the problem management cycle for workers over production line and makes the tracking
                of the problem status easily</li>
        </ol>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5"> WEB Based Portal
    </h2>
      <div class="md:w-3/5 md:pl-6">
        <p class="leading-relaxed text-base"> <strong>Application for Copying up of data from one location to another and used by other interfaces</strong> :- It is an application which is used by production line workers for problems creation on manufacturing line. This application contains various modules for worker, supplier, admin etc.</p>
        <br>
        <p><strong>Tech Stack</strong> : Java, CSS and Tailwind CSS <strong>Framework</strong> : Servlet,<strong>Tools</strong> : Eclipse, Mysql Workbench, Power BI Desktop</p>
        <br>
        <ol class="list-disc pl-4">
            <li class="mb-2">This application was created to transfer data from one location to another location and then process its data and used by further interfaces.</li>
            <li class="mb-2">Used Java for backend and servlets as a framework, HTML and CSS for frontend and mysql as a database.</li>
            <li class="mb-2"> Used by Scientist to have there data protected in other location.</li>
            <li class="mb-2">Created JOBS for copying files form one location to another.</li>
            <li class="mb-2">These files then used by other systems which consist of Power Bi for reports and Power apps for apps.</li>
            <li class="mb-2">Files copied will then removed the original location after specific time.</li>
            <li class="mb-2">Used Power BI to analyse the data and then process it on power bi dashboards.</li>
        </ol>
      </div>
    </div>
  </section>


  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5">Personal Project for House Price Prediction</h2>
      <div class="md:w-3/5 md:pl-6">
        <p class="leading-relaxed text-base"> <strong>House Price Prediction</strong> :- It is an application which was created in final year of graduation and can be used for house price predictions in bangalore.</p>
        <br>
        <p><strong>Tech Stack</strong> : Java, Python, <strong>Framework</strong> : Django,<strong>Tools</strong> : Eclipse, Visual Studio code, Jupyter</p>
        <br>
        <ol class="list-disc pl-4">
            <li class="mb-2">Created a website for House Price Prediction</li>
            <li class="mb-2">This website can be used by persons who are searching house depending on there needs.</li>
            <li class="mb-2">This webiste is created by using HTML and CSS for front end and Django for connectivity of Machine Learning Code to UI. In this we use different ML Algorithms to determine the House price.It consist of various
                functionalities like pricing, prediction of price by selecting various attributes as per user needs.</li>
            <li class="mb-2">Django provide connectivity of ML Algorithm with the User Interface </li>
        </ol>
      </div>
    </div>
  </section>
