<app-header></app-header>

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">CATEGORY</span>
            <span class="mt-1 text-gray-500 text-sm">Programming Language</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Java(8 and 17)</h2>
            <p class="leading-relaxed">Currently having 2.8 years of experience in Java proramming language. Using Java as a backend technology in current project. Having working knowledge of Java 8 stream api's, Strings, Exception Handling, Swings etc. Having knowledge of new features introduced in Java 17</p>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">CATEGORY</span>
            <span class="mt-1 text-gray-500 text-sm">Framework</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Spring Boot</h2>
            <p class="leading-relaxed">Currently having 1.5 years experience of Spring Boot framework. Having working knowledge on JPA, Lombok, API Gateway, Eureka Server, Eureka Clients, config server etc</p>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">CATEGORY</span>
            <span class="text-sm text-gray-500">Cloud</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Openshift</h2>
            <p class="leading-relaxed">Currently having 1.0 year experience of Openshift cloud. Deployed our whole applicaiton to openshift cloud with help of docker and kubernetes clusters. Using pods, services, routes, ingress, config maps etc for daily use.</p>
        
          </div>
        </div>
      </div>
    </div>
  </section>